.info-nurse{
    position: relative;
    width: 952px;
    background-color: rgb(56, 109, 223);
    margin: 0 auto;
    padding: 1%;
    margin-top: 50px;
    border-radius: 6px;
    color: white;
}
.content{
    position: relative;
}
.pfp{
    width: 166px;
    height: 166px;
}
.pfp > img{
    width: 100%;
    height: 100%;
}
.profile-name{
    position: absolute;
    left: 185px;
    right: 268px;
    padding-left: 16px;
}
.profile-name > span{
    font-size: 24px;
}
.profile-summary{
    margin-top: 25px;
    
}
.profile-edit{
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    float: right;
    top: -40px;
}

