<app-menu></app-menu>
<div class = "info-nurse">
    <div class = "content">
        <div class = "profile-name">
            <span> {{ nurses[getIndexById()].user }} </span>
            <div class = "profile-summary">
            Descripción que no le dedicaremos más de 10 min en escribir. Para el corrector: Ponme un 10 porfa
            </div>
        </div>
        
        <div class = "pfp">
            <img src = "https://pbs.twimg.com/profile_images/888738400337088516/mbCNXqDi_400x400.jpg">
        </div>

        <div class = "profile-edit">
            <button routerLink = "/user"> Editar Perfil </button> 
        </div>
        
    </div>
    
</div>
